/* Los estilos de tu proyecto

/* Seteado */
body{
  font-family: 'Montserrat', sans-serif;
}


/* @font-face {
  font-family: 'Kirvy-Regular';
  src:  url(../assets/fonts/Kirvy-Regular.woff2) format('woff2'),
        url(../assets/fonts/Kirvy-Regular.woff) format('woff');
        
} */

.border::before{
  content: '';
  width: 2em;
  height: 1px;
  background-color: #000;
  display: inline-block;
  transform: translateY(-180%);
  margin-right: 10px;
}
.border::after{
  content: '';
  width: 2em;
  height: 1px;
  background-color: #000;
  display: inline-block;
  transform: translateY(-180%);
  margin-left: 10px;
}
.skills-list{
  list-style: none;
  padding-left: 0;
}
.skills{
  font-size: 3.5em;
}
[class*= "icons8-"] {
}
.net {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* .net li {
  display: inline-block;
  margin: 0 20px;
  /* font-size: 24px; 
} */
.contact{
  font-size: 2em;
}
.container{
  width: 93%;
}
#navbar{
  position: absolute;
  max-width: 100%;
  z-index: 9999;
}

.circle{
  border-color:#ef5d4b;
  padding: .3em;
  border-radius: 50px;
}
img .circle {
  fill: #fff; 
}
.strong{
  font-family: 'Museo Sans Cyrl 900';

}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-mine{
  background: rgba(51, 51, 51, 0.75);
  width: 100%;
}


@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}
/* navbar animation */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/MuseoSansCyrl_3.woff) format('woff');     
} 
.nav-style li{
  margin-right: 1em;
}
.nav-style li a{
  /* background-color: #da002b; */
  color:#fff;
  font-family: 'Museo Sans Cyrl 900';
  text-align: right;
}
.nav-style li a:hover{
  color: yellow;
  background: transparent;
}

/* .nav-style li a:active{
  background-color: transparent; 
}
*/

.navbar-nav li a:visited, .navbar-nav li a:active{
  background-color: #333333 ;
 }

.social{
  text-align: center;
}
.social a{
  color:#fff;
  text-shadow: 2px 2px 18px rgb(24, 22, 22);
}
.social a:hover{
  color: yellow;
}
.intro{
  /* padding-top:4.7em; */
}
.info{
  /* font-size: 1.5em; */
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  padding: 1em; 
  color: #fff;
  background:rgba(239, 93, 75, 0.9);
}
.title{
  font-size: 2em;
  margin-top: .6em;
  padding-bottom: 0;
  color: #fff;
  font-family: 'Museo Sans Cyrl 900';
  line-height: 1em;
  text-shadow: 2px 2px 10px rgba(102, 102, 102, 1);
}
.subtitle{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5em;
}
.sub{
  font-family: 'Museo Sans Cyrl 900';
  font-size: 1.8em;
  color: #000;

}
.white{
  color: #fff;
}
.bold{
  font-weight: bold;
}
/* .width{
  width: 70%;
} */
.hero-background{
  background-image: url('../assets/images/back.jpg');
  background-size: cover;
  background-position: 50% 60%;
  height: 100vh;
  position: relative;
}
.light {
  font-weight: 300;
  color: #fff;
}
.margin{
  margin-top:2.8em;
}


/* .header{
  padding-top: 1.2em;
} */

.bio{
  color: #fff;
  font-size: 1.5em;
  margin-top: 3.5em;
}
.social{
  text-align: center;
  margin-top: 1.4em;
}
.position{
  text-align: center;
 }
.description{
  letter-spacing: .012em;
  font-weight: 600;
}
.outline{
  border: 1px solid red;
}
[class*= "icons8-"]:hover { 
  color:#EF5E4B;
}
footer{
  padding: 2em;
  background-color: #000;
  color:#fff;
}
.social-me{
  padding:0 .5em 0 .5em;
}

@media only screen and (min-width: 768px) {
  .hero-background{
    background-position: 50% 60%;
  }
  .title{
    font-size: 4em;
  }
  /* .bio{
    margin-top: 5em;
  } */
  .social{
    text-align: left;
  }
  .strong{
    font-size: 3em;
  }
  .navbar-header{
    padding-right: 15px;
    padding-left: 15px;
  }
  .flex{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: center    
  }
  .aside{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    width: 36%;
    transform: translateY(180%);
    padding: 1.5em; 
    /* margin-top:4em; */
    color: #fff;
    background:rgba(239, 93, 75, 0.9);
  }
  .left{
    float:left;
  }
  .skills{
    font-size: 5.6em;
  }
  .sub{
    font-size: 2.5em;
  } 
} 

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {

}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
}
