/* Los estilos de tu proyecto

/* Seteado */
body{
  font-family: 'Raleway', sans-serif;
}


/* @font-face {
  font-family: 'Kirvy-Regular';
  src:  url(../assets/fonts/Kirvy-Regular.woff2) format('woff2'),
        url(../assets/fonts/Kirvy-Regular.woff) format('woff');
        
} */

.nav-style{
  /* background-color: #da002b; */
  font-size: .9em;

}
.link{
  color: #333333;
  font-weight: bold;
  text-shadow: 2px 2px 28px rgb(253, 230, 180);

}
.intro{
  padding-top:4.7em;
}
.info{
  font-size: 1.5em;
  /* font-weight: 300;
  line-height: 1.5em;
  margin:0;
  padding: 0em; */
  color: #fff;
  text-shadow: 2px 2px 18px rgba(102, 102, 102, 1);
}
.title{
  font-size: 2em;
  /* font-weight: bold; */
  margin-bottom: 0;
  padding-bottom: 0;
  color: #fff;
  font-family: 'Shrikhand', cursive;
  line-height: 1em;
  text-shadow: 2px 2px 24px rgba(102, 102, 102, 1);
}
.subtitle{
  font-family: 'Shrikhand', cursive;
  font-size: 2.5em;
}

.white{
  color: #fff;
}
.bold{
  font-weight: bold;
}
/* .width{
  width: 70%;
} */
.hero-background{
  background-image: url('../assets/images/back.jpg');
  background-size: cover;
  background-position: 50% 90%;
  height: 35vh;
}
.light {
  font-weight: 300;
  color: #fff;
}


.header{
  padding-top: 1.2em;
}

.bio{
  color: #fff;
  font-size: 1.5em;
}


.area-0{
  height: 58vh;
}
/* .contact-info{
  color: #fff;
} */
.full-back{
  background-color: #af0d2e;
}
.full-light{
  background-color: #f2efdf
}


@media only screen and (min-width: 768px) {
  .hero-background{
    background-position: 50% 90%;
    height: 45vh;
  }
  .title{
    font-size: 4em;
  }
  .info{
    font-size: 1.8em;
    font-weight: 300;
  }
  .bio{
    padding-top:1.5em;
  }
  .area-2{
    height: 70vh;
  }
  .area-3{
    height: 30vh;
  }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
}
